* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 70%;
    background-color: black;
}

header {
    background-image: url(../img/wall.png);
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Edu TAS Beginner", sans-serif;
    font-size: 3.5rem;
    letter-spacing: 0.15em;
    margin: 0 auto;
}

main {
    background-image: url(../img/cork.png);
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.card {
    width: calc(100% / 4);
    background-color: white;
    padding: 10px;
    position: relative;
    transition: transform 0.5s ease;
    border: 2px solid black;
}

.container-img {
    width: 100%;
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
}

.title {
    font-family: "Edu TAS Beginner", sans-serif;
}

.date {
    font-family: "Sometype Mono", monospace;
}

.pin {
    position: absolute;
    top: -10px;
    right: 50%;
    transform: translateX(50%);
}


/* Media screen tablet */
@media screen and (max-width: 1024px) {

    .card {
        width: calc(100% / 3);
    }
}

/* Media screen smartphone */
@media screen and (max-width: 600px) {

    .card {
        width: 70%;
    }

    h1 {
        font-size: 2.5rem;
    }
}





.card:hover {
    cursor: pointer;
    transform: rotate(15deg) scale(1.1);
    z-index: 7;
    box-shadow: 10px 10px 0px 0px black;
}