* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px 0;
    width: calc(100% / 5);
    border: solid 2px black;
}

.container-img {
    width: 100%;
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
}